
body {
  font-family:Tahoma, sans-serif;
  display:block;
  background-color:#fefbe9;
  margin:30px 8px;
  border-radius:5px;
  color:#183a1d;
}
h1, p {
  text-align:center;
}
header {
  background-color:#f0a04b;
  border-radius:5px;
  padding:10px;
  width:100%;
}


#image {
  max-width:100%;
  height:auto;
  padding:20px;
  display:block;
}
.center {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}



figcaption {
  text-align:center;
  margin-top:0;
}
.bold {
  font-weight:800;
}
ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}
 .quote {
    font-size: 0.9rem;
    margin: 5px 0;
    padding:0 8px;
    text-indent:-8px;
    background-color:#e1eedd;
    border-radius:5px;

    
  }
a:hover {
  cursor:pointer;
  color:#e1eedd;
}
a {
  color:#183a1d;
}
header {
  padding:10px;
  width:100%; 
}
